* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#carouselExampleFade {
    height: 30vh;
    width: 100vw;
    z-index: -1;
}
#carouselExampleFade img {
    height: 50%;
    size-adjust: cover;
}
h1 {
    font-size: 25px;
    font-weight: 200;
    text-align: center;
}

div.main {
    width: 400px;
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: #6c757d solid 4px;
    border-radius: 20px;
    margin-top: 50px;
    background-color: darkcyan;
    
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    background-color: #efefef;
    padding: 30px;
    color: #fff;
    border-radius: 20px;
    
}
form input {
    width: 90%;
    height: 40px;
    border-radius: 5px;
}
form input::placeholder {
    width: 10em;
    margin: 3px;
    height: 25px;
    color: #6c757d;
}

form #btnTotal {
    margin: 2em 1em;
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: black;
    letter-spacing: 2px;
    border-radius: 20px;
    border: 2px solid black;
    border-radius: 3px;
    cursor: pointer;
}

.icons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;

}

.fas {
    font-size: 2.5em;
    border-radius: 50%;
    padding: 40px;

}
.icons img {
    width: 60px;
    height: 60px;
}

.container-data {
    display: flex;
    justify-content: space-around;
    margin-top: -1em;
}

.container-data h6 {
    text-align: center;
}



#stocking {
    border: black 3px solid;
}